<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-inbox"></i> Mis Pedidos <span></span></h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<!--<li class="sparks-info">
				<h5> Mi Cuenta <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>-->
			<li class="sparks-info">
				<h5> Mis Pedidos <span class="txt-color-pink"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-pink hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" >
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-load="ajax/demowidget.php"
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
                    <h2>Mis Pedidos</h2>

                </header>

                <!-- widget div-->
                <div ng-controller="creativesController">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="alert no-margin fade in">
                            <!-- ICONO DE CARGANDO -->
                            <div collapse="isLoading"><a href="javascript:void(0);" class="btn btn-default txt-color-blueLight"><i class="fa fa-gear fa-lg fa-spin"></i></a></div>
                            
                            <!-- FILTRO Y BOTON DE DUPLICAR PLACEMENT -->
                            <div collapse="isFilter">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input class="form-control" id="prepend" ng-model="filterCreatives" placeholder="Filter" type="text">
                                    </div>
                                </div>
                                <!--<div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                                    <button class="btn btn-success" ng-click="duplicarPlacementChk()">
                                        <i class="fa fa-copy"></i> <span class="hidden-mobile">Duplicate</span>
                                    </button>
                                </div>-->
                            </div>
                        </div>
                        <p>&emsp;</p>
                        <div class="table-responsive">
                            <!-- DETALLE DE CREATIVES -->
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="checkbox">
                                                <input type="checkbox" class="checkbox-inline" ng-model="selectedAll" ng-click="checkAll()">
                                                <i></i>
                                            </label>
                                        </th>
                                        <th></th>
                                        <th>Creative</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>ID</th>
                                        <th>ID Placement</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="creative in creatives | filter : filterCreatives">
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" class="checkbox-inline" ng-model="creative.Selected" />
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>
                                            <!--<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right" ng-click="duplicarPlacement(creative.id, $index, creative.media_url)"><i class="fa fa-copy"></i></a>-->
                                            <a href="javascript:void(0);" class="btn btn-xs btn-default pull-right" ng-click="detallePlacement($index, creative.media_url, false, 0)"><i class="fa fa-chevron-down"></i></a>
                                        </td>
                                        <td>{{creative.width}}x{{creative.height}}</td>
                                        <td><a href="javascript:void(0);" ng-click="getRow(creative.media_url, '')">{{creative.name}}</a></td>
                                        <td><span class="label-success">{{creative.status}}</span></td> <!--label-danger label-warning label-primary-->
                                        <td>{{creative.id}}</td>
                                        <td>{{getPlacementUrl( creative.media_url )}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="6">
                                            <div><i class="{{classDetalle}}"></i>{{creative.media_url}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-show="activePosition == $index">
                                        <td></td>
                                        <td colspan="6">
                                            <div><i class="{{classDetalle}}"></i> {{detallePlacement_id}} - {{detallePlacement_name}}</div>
                                            <div>{{detallePlacement_new}}</div>
                                            <div>{{detallePlacement_new2}}</div>
                                            <div>{{detallePlacement_new3}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
        
	</div>
	<!-- end row -->



</section>
<!-- end widget grid -->
<script type="text/javascript">
	function creativesController($scope, $http) {
		/*getProductos(); 
		$scope.getProductos = function () {
			$scope.productos = [{"coleccion": "Precious Gems Bridal","item": "B420", "descripcion": "Corset & G-String","precio": "999"},{"coleccion": "Precious Gems Bridal","item": "B420", "descripcion": "Corset & G-String", "precio": "999"}];
		}*/
	}
</script>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * PAGE RELATED SCRIPTS
	 */

	// pagefunction
	
	var pagefunction = function() {
			
		
	
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();
	
	
</script>
