<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-code"></i> Lista de Precios <span></span></h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<!--<li class="sparks-info">
				<h5> Mi Cuenta <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>
			<li class="sparks-info">
				<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>-->
			<li class="sparks-info">
				<h5> Mis Pedidos <span class="txt-color-pink"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-pink hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" >
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-load="ajax/demowidget.php"
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-code"></i> </span>
                    <h2>Lista de Precios</h2>

                </header>

                <!-- widget div-->
                <div ng-controller="preciosController">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="alert no-margin fade in">
                            <!-- ICONO DE CARGANDO -->
                            <div collapse="isLoading"><a href="javascript:void(0);" class="btn btn-default txt-color-blueLight"><i class="fa fa-gear fa-lg fa-spin"></i></a></div>
                            
                            <!-- FILTRO Y BOTON DE DUPLICAR PLACEMENT -->
                            <div collapse="isFilter">
                                <div class="well">
    
                                    <div class="row show-grid">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <!--<select class="form-control" ng-model="myLineas" ng-options="linea.lineas for linea in lineas"></select><br/>
                                                <label class="col-md-2 control-label" for="myLineas"></label>-->
                                                <select class="form-control" ng-model="myLineas" ng-change="selectLineas()">
                                                <option ng-repeat="linea in lineas" value="{{linea.id_lineas}}" ng-selected="{{linea.id_lineas == 1}}" >{{linea.lineas}}</option>
                                                </select>
                                                <br>
                                            </div>                                    
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input class="form-control" id="prepend" ng-model="filterPrecios" placeholder="Filter" type="text">
                                            </div>
                                        </div>
	                                </div>
    							</div>                        
                                <!--<div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                                    <button class="btn btn-success" ng-click="duplicarPlacementChk()">
                                        <i class="fa fa-copy"></i> <span class="hidden-mobile">Duplicate</span>
                                    </button>
                                </div>-->
                            </div>
                        </div>
                        <p>&emsp;</p>
                        <div ng-repeat="precio in precios | filter : filterPrecios">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="panel panel-pink">
                                    <div class="panel-heading" style=" max-height:33px">
                                        {{precio.descripcion}}<!--<h6 class="panel-title"><small></small></h6>-->
                                    </div>
                                    <div class="panel-body no-padding text-align-center">
                                        <div class="the-price">
                                            <img src="assets/catalogo/200/{{precio.imagen_cat}}" alt="{{precio.descripcion}}" style="width: 120px; margin-top:0px; margin-bottom:3px; cursor:pointer" ng-click="open(precio.imagen_cat)">
                                            <h4><!-- assets/200/B420WHT.jpg-->
                                                ITEM# {{precio.item}}<br>
                                                <span class="subscript"></span>
                                            </h4>
                                            <small style="height:60px">{{precio.lineas}} - {{precio.coleccion}}</small><br>
                                            <!--<small style="height:60px">{{precio.descripcion}}</small>-->
                                        </div>
                                        <!--<table class="table">
                                            <tr><td></td></tr>
                                            <tr class="active"><td>Colores</td></tr>
                                        </table>-->
                                    </div>
                                    <div class="panel-footer text-align-center">
                                        <!--<button type="button" class="btn bg-color-pink txt-color-white">Agregar
                                        </button>-->
										<a href="ajax/modal-content/model-content-1.html" data-toggle="modal" data-target="#remoteModal" class="btn bg-color-pink txt-color-white">Agregar</a>
                                    	&nbsp;&nbsp;${{precio.precio_publico}}
                                    </div>
                                </div>
                            </div>                         
                        </div>

						<!-- DETALLE DE PRECIOS 
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Coleccion</th>
                                        <th>Producto</th>
                                        <th>Colores</th>
                                        <th>Talles</th>
                                        <th>Precio Publico</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="precio in precios | filter : filterPrecios">
                                    <tr>
                                        <td>{{precio.item}}</td>
                                        <td>{{precio.coleccion}}</td>
                                        <td><a href="javascript:void(0);" ng-click="getRow(precio.id_producto, '')">{{precio.descripcion}}</a></td>
                                        <td>{{precio.colores}}</td>
                                        <td>{{precio.talles}}</td>
                                        <td>{{precio.precio_publico}}</td>
                                    </tr>
                                    
                                    <tr ng-show="activePosition == $index">
                                        <td></td>
                                        <td colspan="6">
                                            <div><i class="{{classDetalle}}"></i> {{detallePlacement_id}} - {{detallePlacement_name}}</div>
                                            <div>{{detallePlacement_new}}</div>
                                            <div>{{detallePlacement_new2}}</div>
                                            <div>{{detallePlacement_new3}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
						-->
                        <!-- Dynamic Modal -->  
                        <div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
                            <div class="modal-dialog">  
                                <div class="modal-content">
                                    <!-- content will be filled here from "ajax/modal-content/model-content-1.html" -->
                                </div>  
                            </div>  
                        </div>  
                        <!-- /.modal -->
                        <script type="text/ng-template" id="myModalContent.html">
							<!--<div class="modal-header"><h3 class="modal-title">Im a modal!</h3></div>-->
							<div class="modal-body">
								<div class="panel-body no-padding text-align-center">
									<img src="assets/catalogo/800/{{items}}" style="width: 400px; margin-top:0px; margin-bottom:3px">
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" ng-click="ok()">OK</button>
								<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
							</div>
						</script>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
        
	</div>
	<!-- end row -->



</section>
<!-- end widget grid -->
<script type="text/javascript">
	function preciosController($scope, $http, $modal, $log) {
        $scope.classDetalle = "";
        $scope.isDetalle = false;	
		$scope.precios = "";	
        $scope.isLoading = false;
        $scope.isFilter = true;
		
		getLineas();
		getProductos(1);
		// Currently selected: {{ {selected_lineas:mylineas}  }}

		$scope.selectLineas = function () {
			//alert($scope.myLineas);
			id = $scope.myLineas;
			$scope.isLoading = false;
			$scope.isFilter = true;			
			getProductos( id );
		};
		$scope.getImagen = function (id) {
			$http.get("http://localhost:8080/lenceria/_pedidos/pedidos/api/getImagen.php?id_producto=" + id).success(function (data) {
				$scope.imagenes = data;
				return $scope.imagenes.imagen;
			});
		}

		$scope.open = function (imagen) {
			//alert(imagen);
			$scope.imagen_cat800 = imagen;
			var modalInstance = $modal.open({
				templateUrl: 'myModalContent.html',
				controller: ModalInstanceCtrl,
				size: '',
				resolve: {
					items: function () {
						return $scope.imagen_cat800;
					}
				}
			});
			
			/*modalInstance.result.then(function (selectedItem) {
				$scope.selected = selectedItem;
				}, function () {
					$log.info('Modal dismissed at: ' + new Date());
			});*/
		};

		function getProductos(id) {
			//alert("http://localhost:8080/lenceria/_pedidos/pedidos/api/getProductos.php?id_lineas=" + id);
			$scope.precios = "";
			$http.get("http://localhost:8080/lenceria/_pedidos/pedidos/api/getProductos.php?id_lineas=" + id).success(function (data) {
			//$http.get("lista_precios.json").success(function (data) {
					$scope.precios = data;
					$scope.isLoading = true;
					$scope.isFilter = false;
			});
		};
		
		function getLineas() {
			$http.get("http://localhost:8080/lenceria/_pedidos/pedidos/api/getLineas.php").success(function (data) {
				$scope.lineas = data;
				$scope.isLoading = true;
				$scope.isFilter = false;
			});
		};
	}
	
	var ModalInstanceCtrl = function ($scope, $modalInstance, items) {
	
		$scope.items = items;
		
		$scope.ok = function () {
			alert($scope.items);
			$modalInstance.close();
		};
	
		$scope.cancel = function () {
			$modalInstance.dismiss('cancel');
		};
	};

	
	
</script>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * PAGE RELATED SCRIPTS
	 */

	// pagefunction
	
	var pagefunction = function() {
			
		
	
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();
	
	
</script>
